:root {
  --bg-color: #78480e;
  --text-color: #fce301;
}
body {
  min-width: 500px; /* your desired width */
  vertical-align: middle;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
  position: relative;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 10px 0px;
  padding: 0px;
}


